- extends 'oreills/base.html.haml'
- block head
  <script type="text/javascript" src="{{ STATIC_URL }}av/av.js"></script>
  <link href="{{ STATIC_URL }}av/av.css" rel="stylesheet" type="text/css"></link>
- block content
  %p
    A toy to explore with the Alternative Vote system proposed in the 2011 referendum.
  %p
    Also experimenting with using Javascript in a more functional style (side effects are used to render results to the DOM).
  %p
    Enter ballots into the text area in the following form:
  %p
    pref:n
  %p
    Where pref is a list of candidates in preferred order (candidates must be uppercase A-I) and n is the number of voters with this preference.
  %p
    Once a candidate has been eliminated, their colour is shown faded in the subsequent vote counts.
  %p
    %a{'href': "https://github.com/christyor73/AV"} Source on GitHub
  #in
    %form{'onSubmit':"return run_election();"}
      %textarea#ballots-in{'rows':"10"}
        :plain
          ABDC:500
          ADBC:500
          BAC:700
          BCA:700
          C:1200
          DB:300
          DC:300
          E:120
          FC:80
      %br
      %input{'type':"submit", 'value':"Run AV"}
  #out

