- extends 'oreills/base.html.haml'
- block content
  %p
    I'm a software developer currently working in the town of London
  %p
    I like Python because it gets things done
  %p
    I also think Lisp is rather beautiful
