- extends 'oreills/base.html.haml'
- block content
  %p
    %img{'src': "{{ STATIC_URL }}images/profile.jpg", 'width': "300px", 'height': "300px"}
  %p
    I'm Christy O'Reilly, a software developer currently working in London
  %p
  %p
    I use Python because it gets things done
  %p
    I like Lisp for its simple elegance
  %p
  %p
    I seek out challenges and new experiences
