<!DOCTYPE html>
%html{'lang':"en"}
  %head
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}reset.css"></link>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}typography.css"></link>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}oreills.css"></link>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.2.min.js"></script>
    - block head
    %title
      - block title 
        oreills
  %body
    .main-container
      .header
        %a{'href': "/"}
          %h1 oreills
      .linkbar
        %span.linkbar-inner
          - block linkbar
            %span
              %a{'href': "about"} about
            %span
              %a{'href': "projects"} projects
            %span
              %a{'href': "contact"} contact
      .content
        - block content
