- extends 'oreills/base.html.haml'
- block content
  %p
    Sometimes I make things for fun
  %p
    %a{'href': "https://github.com/c-oreills"} GitHub
  %p
    %a{'href': "/projects/av"}
      Alternative Vote Simulator
  %p
    %a{'href': "/subterreader"}
      Subterreader (WIP)
