- extends 'oreills/base.html.haml'
- block content
  %p
    Sometimes I make things for fun
  %p
    %a{'href': "https://github.com/christyor73"} GitHub
  %p
    %a{'href': "/subterreader"}
      Subterreader (WIP)
