<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.1.min.js"></script>
<script type="text/javascript">
// Use YQL as advised in http://www.wait-till-i.com/2010/01/10/loading-external-content-with-ajax-using-jquery-and-yql/
function load_url_to_container(url, container) {
  var yql_url = 'http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22' + encodeURIComponent(url) + '%22';
  $.get(yql_url,
      function (data) {
        var response_content = $(data).find('body').contents();
        container.html(response_content);
      })//, 'xml');
}

$(document).ready(function () {
  {% for document in documents_list %}
  load_url_to_container('{{ document.url }}', $('#container-{{ forloop.counter0 }}'));
  {% endfor %}
  });
</script>

Current user: {{ request.user }}
{% if documents_list %}
    {% for document in documents_list %}
        <div>
          <p>{{ document.url }}</p>
          <div id="container-{{ forloop.counter0 }}" />
        </div>
    {% endfor %}
{% else %}
    <p>No documents are available.</p>
{% endif %}
